.p-header__show {
  display: block;
}

.p-header__hidden {
  display: block;
  opacity: 0;
  height: 0;
  min-height: 0;

  &:hover {
    display: block;
    transition: all .5s;
    opacity: 1;
    min-height: 30px;
  }
}
