.theBridge,
.deepFocus,
.cashemere,
.fullMoon,
.flamingo,
.earlyMorning,
.nearLight,
.mirror,
.backToAlaska,
.flash,
.unicorn,
.tribute,
.twinPeaks,
.youngForest,
.air,
.tranquility,
.silverLake,
.amnesia,
.greyConnection,
.theCapsule,
.hiddenGems,
.nightSmoothie,
.goldenLeaf,
.floatingDream,
.escape,
.milkyWay,
.circular,
.autumn,
.northKingdom,
.whiteNoise,
.silverSurfer,
.returnToAir,
.ice {
  text-shadow: 0 3px 7px $txt-shadow-white;
  color: $txt-black;
}

.blueHour,
.darkAmber,
.prelude,
.saltAndPepper,
.wolverine,
.dementor,
.underTheEarth,
.silverStone,
.icarus,
.flashlight,
.jupiter,
.blackSands,
.greyHound,
.graphite,
.cosmos,
.comet {
  text-shadow: 0 3px 7px $txt-shadow-black;
  color: $txt-white;
}
