.p-page {
  @include reset-css;
  position: relative;
  width: 100%;
  overflow: hidden;

  &::before {
    display: block;
    padding-top: 75%;
    content: '';
  }
}

.p-page__inner {
  @include slide-page;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 90%;
  height: 90%;
  font-size: 3em;
}
