.p-progress-area {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
}

.p-progress-bar {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 5px;

  &[value] {
    border: 0;
    -webkit-appearance: none;

    &::-webkit-progress-value {
      transition: all .2s ease;
      background-color: $progress-bar-color;
      transition-delay: 0;
    }
  }
}

.p-progress-icon-area {
  position: absolute;
  bottom: 0;
  text-align: right;
}

.p-progress-icon {
  width: .8em;
  height: .8em;
  vertical-align: middle;
}
