.p-timer {
  background-color: $gray;
  width: 100%;
}

.p-timer__time {
  width: 99%;
  text-align: center;
}

.p-timer__input {
  width: 100px;
}

.p-timer__display {
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 12em;
  font-weight: bold;
}

.p-timer__start {
  margin-left: 15%;
}

@keyframes pulse {
  from {
    opacity: 1;
  }

  to {
    opacity: .5;
  }
}

.p-timer__blink {
  animation-name: pulse;
  animation-duration: .2s;
  animation-timing-function: ease-in-out;
  animation-delay: -1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
