@mixin reset-css {
  h1, h2, h3, h4, h5, h6 {
    margin: 10px;
    overflow: auto;
    text-overflow: inherit;
    white-space: normal;
    font-size: 100%;
  }
}

// FIXME: change them proper value
@mixin slide-page {
  h1,h2,h3,h4,h5 {
    font-weight: bold;
  }
  // TODO: vw で書き直しかな？
  // TODO:: http://coliss.com/articles/build-websites/operation/css/font-size-used-responsive-scales.html
  // TODO: http://codepen.io/nicetransition/pen/OyRwKq
  // TODO: https://github.com/modularscale/modularscale-sass#responsive-scales
  h1 {
    text-align: center;
    font-size: 4em;
  }

  h2 {
    font-size: 3.5em;
  }

  h3 {
    font-size: 3em;
  }

  h4 {
    font-size: 2em;
  }

  h5 {
    font-size: 1.5em;
  }

  ul, ol {
    //margin-right: 2em;
    //margin-left: 2em;
    margin: .5em 2em;
    width: 75%;
    font-size: 1.8rem;
    font-weight: 700;
  }

  p {
    margin-right: 2em;
    margin-left: 2em;
    width: 90%;
    font-size: 1.5rem;
  }
}
