// colors
$gray: #ddd;
$separator: #fff;
$light-gray: #e8e6e8;

$txt-black: #252525;
$txt-white: #fff;

$txt-shadow-white: rgba(255, 255, 255, .87);
$txt-shadow-black: rgba(0, 0, 0, .87);

$preview-font-size: .55vw;
$page-font-size: 1.2vw;

$progress-bar-color: #00fa9a;
