.mgr {
  margin-right: 5px;
}

.mgr-one-btn {
  margin-right: 32px;
}

.mgl {
  margin-left: 5px;
}

.ma {
  margin: auto;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.gray {
  background-color: $light-gray;
}
